html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: #fff;
}

p {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: underline;
    color: #BEB7B7;
}

.wrapper {
    height: 100%;
    width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
}

.layout {
    min-height: 100%;
}

.layout:after {
    content: "";
    display: block;
    height: 248px;
}

/* Header */
.header {
    height: 110px;
    border-bottom: 1px solid #696969;
    padding: 20px 0 17px;
}

.header-item-left,
.header-item-center,
.header-item-right {
    height: 107px;
    background-color: #777777;
}

.header-item-left {
    width: 120px;
    float: left;
}

.header-item-center {
    width: 280px;
    margin-left: 23px;
    float: left;
}

.header-item-right {
    width: 515px;
    float: right;
}

.header-item-right-text {
    padding: 23px;
    float: right;
    text-align: right;
}

.header-link:not(:last-child)  {
    margin-bottom: 6px;
}

/* Footer */

.footer {
    height: 180px;
    margin-top: -224px;
    border-top: 1px solid #696969;
    padding-top: 23px;
    padding-bottom: 20px;
}

.footer-item-left,
.footer-item-center {
    width: 300px;
    height: 180px;
    margin-right: 25px;
    background-color: #696969;
    float: left;
}

.footer-item-left-text {
    padding: 5px;
    margin: 10px 83px 0 19px;
    columns: auto 2;
    column-gap: 71px;
    line-height: 1.71;
    color: #fff;
}

.footer-item-right {
    float: right;
}

.footer-item-center-text {
    padding: 3px 14px;
    margin-left: 24px;
    color: #fff;
    list-style: square;
    line-height: 1.6;
}

.footer-item-right-top,
.footer-item-right-bottom {
    width: 310px;
    height: 75px;
    background-color: #696969;
}

.footer-item-right-bottom {
    margin-top: 30px;
}


/* Main */
.main {
    padding-top: 20px;
    position: relative;
}

/*Sidebar*/
.sidebar {
    width: 185px;
    float: left;
    padding-bottom: 153px;
}

.sidebar-menu {
    padding: 16px 13px;
    box-sizing: border-box;
    line-height: 1.5;
    background-color: #777777;
    margin-bottom: 20px;
}

.sidebar-menu-header {
    color: #fff;
    font-weight: bold;
}

.sidebar-menu-item {
    margin: 2px 0 0;
}

/*Content*/
.content {
    width: 755px;
    float: right;
    color: #777;
}

.content-block-list {
    margin-left: -22px;
}

.content-block {
    background-color: #dcdcdc;
    padding: 20px 20px 15px;
    box-sizing: border-box;
}

.content-block_small {
    width: 133px;
    height: 152px;
    float: left;
    margin-left: 22px;
    margin-top: 20px;
}

.content-block_middle {
    width: 366px;
    height: 200px;
    float: left;
    margin-left: 22px; 
    margin-top: 20px;
}

.content-list {
    margin-left: 38px;
    padding: 0;
    line-height: 1.5;
}

.content-list-item {
    position: relative;
    list-style: none;
}

.content-list-item:before {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #777777;
    position: absolute;
    top: 9px;
    left: -9px;
}

.paragraph {
    line-height: 1.5;
    color: #777;
}

.paragraph + .paragraph {
    margin-top: 26px;
}

.bottom-side-block {
    height: 133px;
    width: 185px;
    background-color: #777777;
    position: absolute;
    bottom: 0;
    left: 0;
}






.bold {
    font-weight: bold;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
